@charset "utf-8";
/* CSS Document */

	@mixin scaleSkewMix($scaleWidth, $scaleHeight, $skewXVal) {
		-ms-transform: scale($scaleWidth, $scaleHeight) skewX($skewXVal);
		-webkit-transform: scale($scaleWidth, $scaleHeight) skewX($skewXVal);
		transform: scale($scaleWidth, $scaleHeight) skewX($skewXVal);	
	}




	@mixin rotateTranslateMix($rotateVal, $translateValX, $translateValY) {
		-ms-transform: translate($translateValX, $translateValY) rotate($rotateVal); 
		-webkit-transform: translate($translateValX, $translateValY) rotate($rotateVal); 
		transform: translate($translateValX, $translateValY) rotate($rotateVal);	
	}

	

	@mixin transitionMix($widthTime, $heightTime, $backChange, $borderChange, $transformChange) {
		-webkit-transition: width $widthTime, height $heightTime, background-color $backChange, border $borderChange, -webkit-transform $transformChange;
		transition: width $widthTime, height $heightTime, background-color $backChange, border $borderChange, transform $transformChange;
	}
	
	@mixin animationMix( $aniName, $aniDuration, $aniRepeat, $aniTiming) {
			-webkit-animation: $aniName $aniDuration $aniRepeat $aniTiming;
			animation: $aniName $aniDuration $aniRepeat $aniTiming;
	}