@charset "utf-8";
/* CSS Document */

	@import 'mixinsFinal.scss';   /* looks for a file called mixinsFinal.scss */
	
	@import 'keyframeFinal.scss'; 

/*--------Color Variables -------------------------------------*/

	$color1: black;
	$color2: white;
	$color3: #424242; /* Dark Gray */
	$color4: #686877; /* Medium Gray */
	$color5: #3e3e47; /* Lighter Gray */
	$color6: #344a4c; /* Gray/Blue */
	$color7: #00282b; /* DarkPurple */

/*-----------------------------------------------------------------------*/

/*--------Transition/Transform Variables --------------*/

	/* Image Background */
		$scaleWidth: 0.5;

		$scaleHeight: 0.5;

		$skewXVal: 20deg;

		$translateValX: -20px;

		$translateValY: -25px;

		$rotateVal: 20deg;
		
		$originalHeight: 300px;
		
		$originalWidth: 403px;
		
		$transitionHeight: 271px;
		
		$transitionWidth: 403px;
		
		$widthTime: 3s;
		
		$heightTime: 3s;
		
		$backChange: 3s;
		
		$borderChange: 3s;
		
		$transformChange: 3s;
		
		
		
		
		
	/* Image */
		$scaleWidth1: 0.5;

		$scaleHeight1: 0.5;

		$skewXVal1: 0deg;

		$translateValX1: 0px;

		$translateValY1:5px;

		$rotateVal1: -20deg;
		
		$originalHeight1: 231px;
		
		$originalWidth1: 346px;
		
		$transitionHeight1: 231px;
		
		$transitionWidth1: 346px;
		
		$widthTime1: 3s;
		
		$heightTime1: 3s;
		
		$backChange1: 3s;
		
		$borderChange1: 3s;
		
		$transformChange1: 3s;

/*-----------------------------------------------------------------------*/

/*--------Animation Variables ------------------------------*/
		
		$pos: relative;
		$aniDuration: 3.5s;
		$aniRepeat: 1;
		$aniTiming: linear;
		$aniName: slideIn;
		$kframeScaleX: 0;
		$kframeScaleY: 0;

/*-----------------------------------------------------------------------*/
		
		
		* {
				margin: 0;
				padding: 0;
		}
		
		.sassLink {
				display: none;
		}
		
		.jumbotron {
				background-color: $color3;
				color: $color2;
				text-align: center;
		}

		 body  {
				background-color: $color1;
				color: $color2;
		 }

		h2 {
				font-size: 50px;
		}
		
		footer {
				text-align: center;
		}
		
		.col-sm-12 img {
				width: 90%;
				vertical-align: middle;
				max-width: 346px;
				max-height: 231px;
				border: 7px outset $color5;
				@include transitionMix($widthTime1, $heightTime1, $backChange1, $borderChange1, $transformChange);
		}
		
		.col-sm-12 img:hover {
				@include scaleSkewMix($scaleWidth1, $scaleHeight1, $skewXVal1);
				@include rotateTranslateMix($rotateVal1, $translateValX1, $translateValY1);
				width: $transitionWidth1;
				border: 7px outset $color2;
		}
		
		
		
		
		
		.thumbBorder {
				background-color: $color3;
				width: 95%;
				margin: 10% auto;
				padding: 5%;
				max-width: 403px;
				max-height: 300px;
				border: 5px inset $color4;
				@include transitionMix($widthTime, $heightTime, $backChange, $borderChange, $transformChange);
		}
		
		.thumbBorder:hover {
				@include scaleSkewMix($scaleWidth, $scaleHeight, $skewXVal);
				@include rotateTranslateMix($rotateVal, $translateValX, $translateValY);
				width: $transitionWidth;
				
				
		}
		
		.modal-content img{
				width: 100%;
				text-align: center;
		}
		
		.modal-content {
				background-color: $color3;
		}
		
		.modal-dialog {
				background-color: $color4;
				width: 80%;
		}
		
		.btn, .btn-info, .btn-lg, .btn:hover, .btn-info:hover, .btn-lg:hover, .btn:visited, .btn-info:visited, .btn-lg:visited, .btn:active, .btn-info:active, .btn-lg:active {
				background-color: $color3;
				color: $color2;
				border-color: $color3;
		}
		
		
		.container {
			position: $pos;
			@include animationMix($aniName, $aniDuration, $aniRepeat, $aniTiming);
		}
		
		@media (min-width: 0) and (max-width: 700px) {
			
			body {
					background-color: $color5;
			}
			
			.jumbotron {
					background-color: $color2;
					color: $color1;
			}
			
			.thumbBorder {
					background-color: $color2;
			}
			
		}
		
		
		@media (min-width: 701px) and (max-width: 1367px) {
				
				body {
					background-color: $color3;
			}
			
			.jumbotron {
					background-color: $color1;
			}
			
			.thumbBorder {
					background-color: $color1;
			}
		
		}
		
		
		@media (min-width: 1368px) {
				
				body {
					background-color: $color1;
			}
			
			.jumbotron {
					background-color: $color6;
			}
			
			.thumbBorder {
					background-color: $color7;
			}
		
		}
		
